
<!-- import style -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<!-- import script -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>



<div class="container">
    <h1 id="headline">Rregreso de Antonio</h1>
    <div id="countdown">
        <ul>
            <li><span id="days"></span>días</li>
            <li><span id="hours"></span>horas</li>
            <li><span id="minutes"></span>minutos</li>
            <li><span id="seconds"></span>segundos</li>
        </ul>
    </div>
    <div id="content" class="emoji">
        <span>🥳</span>
        <span>🎉</span>
        <span>🎂</span>
    </div>
</div>